:root {
    --size1: 5px;
    --size2: 15px;
    --size3: 25px;
    --size4: 35px;

    --color1: #1a1a1a;
    --color2: #b3836c;
    --color3: #e75b5b;
    --color4: #613a0e;
    --color5: #3b3020;
    --color6: #6c3030;

    --fs1: 12px;
    --fs2: 14px;
    --fs3: 18px;
    --fs4: 24px;
    --fs5: 30px;
}



/* components */
.btn1 {
    background-color: var(--color4);
    border-width: 2px;
    border-radius: 4px;
    border-style: solid;
    border-color: var(--color2);
    padding: var(--size2);
}

.btn1:hover {
    background-color: var(--color5);
    cursor: pointer;
}


/* colors */
.bg1 {
    background-color: var(--color1);
}

.bg2 {
    background-color: var(--color6);
}

.bg3 {
    background-color: var(--color4);
}

.border1 {
    border-width: 2px;
    border-radius: 4px;
    border-style: solid;
    border-color: var(--color2);
}



/* elements */
body {
    font-family: -apple-system, 'Segoe UI Light', Ubuntu, Arial, sans-serif;
    font-size: var(--fs3);
    color: white;
}

textarea {
    resize: vertical;
}

li {
    margin-left: var(--size3);
}

a {
    text-decoration: underline;
    color: #ff6464;
}

a:hover {
    color: #b04646;
}

a.block {
    text-decoration: none;
    color: inherit;
}

a.block:hover {
    color: inherit;
}

input {
    color-scheme: dark;
}



/* classes */
.fs4 {
    font-size: var(--fs4);
}

.fs5 {
    font-size: var(--fs5);
}

.bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.w100 {
    width: 100%;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.justify_end {
    justify-content: end;
}

.justify_center {
    justify-content: center;
}

.align_center {
    align-items: center;
}

.hidden {
    display: none;
}

.pos_absolute {
    position: absolute;
}

.list_circle {
    list-style: circle;
}

.list_disc {
    list-style: disc;
}



@keyframes notification {
    0%      { top: 0; opacity: 0.0; }
    8%      { top: var(--size2); opacity: 1.0; }
    92%     { top: var(--size2); opacity: 1.0; }
    100%    { top: 0; opacity: 0.0; display: none; }
}



/* margins */
.my2 {
    margin-top: var(--size2);
    margin-bottom: var(--size2);
}
.mt2 { margin-top: var(--size2); }
.mr2 { margin-right: var(--size2); }
.mb2 { margin-bottom: var(--size2); }
.ml2 { margin-left: var(--size2); }



/* padding */
.pl0 { padding-left: 0 !important; }
.p1 { padding: var(--size1); }
.px1 {
    padding-left: var(--size1);
    padding-right: var(--size1);
}
.py1 {
    padding-top: var(--size1);
    padding-bottom: var(--size1);
}
.p2 { padding: var(--size2); }
.px2 {
    padding-left: var(--size2);
    padding-right: var(--size2);
}
.py2 {
    padding-top: var(--size2);
    padding-bottom: var(--size2);
}
.px3 {
    padding-left: var(--size3);
    padding-right: var(--size3);
}
.p4 { padding: var(--size4) }
.px4 {
    padding-left: var(--size4);
    padding-right: var(--size4);
}